# Microsoft Movie Magic 

Data Analysis by Aaron Childress & Jill Carrie

**Microsoft wants to know: 
        "What type of films are currently doing the best at the box office?"**
    PLOT - Gross(genre) vs Time - scatter and line
    
But, that doesn't necassarily mean these movies are the most profitable ... 
What makes a movie profitable? 
    PLOT - ROI/genre box polt (of just "recent" movies) 
**Pick a Target Genre from this Data**

What makes a movie popular?(Use IMDB Rating)

Now, who should we hire for this movie? What are the Effects of individuals (writers, directors, leads, etc with a x movie track record) on (our genre only) movie ROI

Criteria 1: We must know an individual films ROI not just it's gross. If we don't have production budget data (the cost of making a film), it is impossible for us to find out an individual films ROI. Since ROI is our primary measure of success, we need to merge into that budget table frist based on title. We are merging with the IMDB title table (imdb.title.akas.csv), so that we can gain the IMDB unique film identifier (tconst) and use that info as the key to in order to merge with the ot

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
budget_data = pd.read_csv('data/tn.movie_budgets.csv')

In [4]:
budget_data.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [5]:
budget_data.shape

(5782, 6)

In [14]:
budget_data.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [8]:
movie_titles = pd.read_csv('data/imdb.title.akas.csv')

In [9]:
movie_titles.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [11]:
movie_titles.shape

(331703, 8)

In [23]:
movies = pd.read_csv('data/tmdb.movies.csv')

In [15]:
movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [17]:
movies.shape

(26517, 10)

In [25]:
reviews = pd.read_csv('data/rt.reviews.tsv', '\t')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 4: invalid start byte

rt.reviews file contains reviews on movies by an id number. fresh = fresh or rotten.